/* BEGIN of "tab container" */
.main.menu_container {
	width: inherit;
	padding: 0;
	margin: 0;
	padding-top: 10px;
}
.main.menu_title {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	font-size: 30px;
	font-weight: bold;
	color: rgb(65, 105, 150);
}
.main.menu_head {
	display: block;
	float: right;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}
.main.menu_topholder {
	display: block;
	font-size: 12px;
	color: rgb(240,120,80);
	text-align: right;
	font-size: 10px;
	padding-right: 10px;
}
.main.menu {
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
}
.main.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.main.menu ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.main.menu_label {
	display: block;
	text-decoration: none;
	text-align: center; 
	height: 18px;
	min-width: 50px;
	padding: 10px 0 10px 0;
	margin: 0 5px 0 5px;
	font-size: 14px;
	color: rgb(65, 105, 150);
}
.main.menu_label:focus, .menu_label:active {
	outline: none;
}
.main.active_label {
	border-bottom: 3px solid rgb(255,140,0);
}
.main.menu_separator {
	clear: both;
	width: inherit;
	border-bottom: 1px solid rgb(200, 200, 200);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}
.main.menu_body {
}
.main .menu_body .tab_info {
	font-size: 18px;
	font-weight: bold;
	color: rgb(65, 105, 150);
}
/* END of "tab container" */
