Техническое задание на разработку on-line ресурса WordMedium.

Разделы с puplic-доступом:
1. Registration
2. Dictionary
3. Help

Разделы с private-доступом:
1. Dictionary
2. Word grabber
3. Tutor
4. Jabber
5. Progress board (statistics) 
6. Account properties
7. Help



Dictionary
Словарь возвращает карточку слова или фразы из Базового словаря (Dictionary Card).
Для пользователей особых категорий (членов определенных групп) словарь дополнительно возвращает карточки 
подключенных словарей (Lingvo, Collins и т.д.). На основе Карточки Базового словаря может быть создана
Пользовательская карточка (Learning card) и добавлена в персональный урок пользователя AS IS или с возможностью 
ее редактирования и выбора темы/номера урока. Карточки из подключенных словарей НЕ ДОБАВЛЯЮТСЯ! 
История поиска слова или фразы найденых в Базовом словаре автоматически сохраняется для каждого пользователя с 
указанием времени последнего зароса и общего колличества запросов пользователя к этой карточки. 
Если слово/фраза не были найдены в базовом словаре, то должна быть возможность сохранить их в общей истории поиска 
пользователя или создать Пользовательскую карточку и добавить ее в новый или существующий урок.

Dictionary Card
Карточка Базового словаря состоит из следующих полей:
1. варианты форм
2. варианты произношения
3. значение


