collins,.collins div,.collins span,.collins object,.collins iframe,.collins h1,.collins h2,.collins h3,.collins h4,.collins h5,.collins h6,.collins p,.collins blockquote,.collins pre,.collins abbr,.collins address,.collins cite,.collins code,.collins del,.collins dfn,.collins em,.collins img,.collins ins,.collins kbd,.collins q,.collins samp,.collins small,.collins strong,.collins sub,.collins sup,.collins var,.collins b,.collins i,.collins dl,.collins dt,.collins dd,.collins ol,.collins ul,.collins li,.collins fieldset,.collins form,.collins label,.collins legend,.collins table,.collins caption,.collins tbody,.collins tfoot,.collins thead,.collins tr,.collins th,.collins td,.collins article,.collins aside,.collins canvas,.collins details,.collins figcaption,.collins figure,.collins footer,.collins header,.collins hgroup,.collins menu,.collins nav,.collins section,.collins summary,.collins time,.collins mark,.collins audio,.collins video {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline
}
.collins article,.collins aside,.collins details,.collins figcaption,.collins figure,.collins footer,.collins header,.collins hgroup,.collins menu,.collins nav,.collins section {
    display:block
}
.collins ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none
}
.collins mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold
}
.collins del {
    text-decoration:line-through
}
.collins abbr[title],.collins dfn[title] {
    border-bottom:1px dotted;
    cursor:help
}
.collins table {
    border-collapse:collapse;
    border-spacing:0
}
.collins hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0
}
.collins {
    height:100%
    font:12px/1.231 sans-serif;
    *font-size:small;
    color:#000000
}
.collins pre,.collins code,.collins kbd,.collins samp {
    font-family:monospace, sans-serif
}
.collins img {
    display:block
}
.collins a:hover,.collins a:active {
    outline:none
}
.collins ol {
    list-style-type:decimal
}
.collins nav ul,.collins nav li {
    margin:0;
    list-style:none;
    list-style-image:none
}
.collins small {
    font-size:85%
}
.collins strong,.collins th {
    font-weight:bold
}
.collins .smallcaps {
    font-variant: small-caps;
    text-transform: lowercase;
}
.collins .underline {
    text-decoration:underline;
}
.collins td {
    vertical-align:top
}
.collins sub,.collins sup {
    font-size:75%;
    line-height:0;
    position:relative
}
.collins sup {
    top:-0.5em
}
.collins sub {
    bottom:-0.25em
}
.collins pre {
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word;
    padding:15px
}
.collins a:link {
    -webkit-tap-highlight-color:#FF5E99
}
.collins h1,.collins h2,.collins h3,.collins h4,.collins h5,.collins h6 {
    color:#194885
}
.collins a,.collins a:active,.collins a:visited {
    color:#1c4b8b
}
.collins a:hover {
    color:#036
}
.collins .clear:before,.collins .clear:after {
    content:" ";
    display:block;
    height:0;
    overflow:hidden
}
.collins .clear:after {
    clear:both
}
.collins a {
    color:#1c4b8b
}
.collins a:hover {
    color:#d51f30
}
.collins .main_bar {
    width:inherit;
    margin-right:10px
}
.collins .definition_wrapper{
    margin:10px auto 0;
    width:inherit;
    position:relative
}
.collins .definition_main{
    clear:both;
    overflow:hidden
}
.collins p,.collins li {
    line-height:1.5
}
.collins {
    color:#505050;
    font:13px/1.231 sans-serif;
    height:100%
}
.collins h1,.collins h2,.collins h3,.collins h4,.collins h5,.collins h6 {
    font-family:"Times New Roman",Times,serif;
    font-weight:normal;
    margin-bottom:0.5em
}
.collins h1 {
    font-size:182%;
    margin-bottom:0.75em
}
.collins p {
    margin-bottom:1em
}
.collins ul {
    list-style:disc inside none;
    padding:0
}
.collins li {
    padding-bottom:4px
}
.collins .col {
    float:left
}
.collins.dictionary .dictionary_header .tagline {
    font-size:22px
}
.collins.dictionary {
    margin:0px auto;
    width:inherit;
}
.collins.dictionary .translation_list span {
    font-family:Arial,Helvetica,sans-serif
}
.collins.dictionary .translation_list .translation {
    float:left;
    list-style-type:none;
    margin-right:24px;
    width:45%
}
.collins.dictionary .translation_list li[lang~="lang_en-gb"],.dictionary .translation_list li[lang~="lang_en-us"] {
    display:block;
    float:none;
    padding:0 0 20px;
    width:auto
}
.collins.dictionary blockquote,.collins.dictionary q {
    quotes:none;
    color:#1C4B8B;
    font-style:italic
}
.collins.dictionary .orth {
    color:#194885
}
.collins.dictionary .pron {
    font-family:"Arial Unicode MS",Arial,Helvetica,sans-serif
}
.collins.dictionary h2.orth {
    font-family:"Times New Roman",Times,serif;
    border-color:#c5c5c5;
    border-style:dotted;
    border-width:0 0 1px 0;
    font-size:36px;
    padding:15px 0 10px 15px;
    position:relative
}
.collins.dictionary h2.orth span {
    font-size:20px
}
.collins.dictionary h2.orth .pron {
    color:#194885;
    font-size:20px;
    font-style:normal;
    margin-left:5px
}
.collins.dictionary h2.orth sup.homnum {
    background-color:#1c4b8b;
    color:#FFFFFF;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
    left:0;
    padding:9px 5px;
    position:absolute;
    top:0
}
.collins.dictionary h2.orth .subj,.collins.dictionary h2.orth .register,.collins.dictionary h2.orth .misc,.collins.dictionary h2.orth .gram,.collins.dictionary h2.orth .lbgramdesc,.collins.dictionary h2.orth .lbmisc,.collins.dictionary h2.orth .lbl,.collins.dictionary h2.orth .geo,.collins.dictionary h2.orth .mod,.collins.dictionary h2.orth .subc,.collins.dictionary h2.orth .lang,.collins.dictionary h2.orth em.italics {
    font-family:Times,serif;
    color:#000;
    font-style:italic;
    font-size:22px;
    font-weight:normal
}
.collins.dictionary h3 {
    background:url("/img/collins-icons-left.png") no-repeat scroll 0 -982px transparent;
    color:#1c4b8b;
    font-family:"Times New Roman",Times,serif;
    font-size:153.9%;
    margin-bottom:0.2em;
    padding:11px 0 6px 15px
}
.collins.dictionary h4 {
    font-size:20px;
    margin-top:10px;
    padding-left:15px
}
.collins.dictionary h4 span {
    font-size:20px
}
.collins.dictionary h4.gramGrp {
    color:#194885;
    font-style:normal;
    font-size:20px
}
.collins.dictionary .posnum {
    color:#194885;
    font-family:"Times New Roman",Times,serif;
    font-style:normal;
    font-size:20px
}
.collins.dictionary .submit,.collins.dictionary .editorial .submit,.collins.dictionary .submit-hover,.collins.dictionary .editorial .submit-hover {
    background:url("/img/icons-right.png") no-repeat scroll -33px -591px #1c4b8b;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    float:right;
    padding:6px 20px 4px 10px
}
.collins.dictionary .breadcrumb .hom {
    display:inline;
    white-space:nowrap
}
.collins.dictionary .breadcrumb .hightlight {
    text-decoration:none
}
.collins.dictionary .search-found a {
    margin-right:5px
}
.collins.dictionary .highlight {
    background-color:#E5EBF3;
    margin-right:5px;
    padding:4px 5px
}
.collins.dictionary .hom {
    display:block;
    margin-bottom:5px
}
.collins.dictionary .hom li ol,.collins.dictionary .hom li ul {
    margin-left:25px;
    margin-top:7px
}
.collins.dictionary .hom li ol li {
    display:list-item;
    list-style-type:lower-alpha
}
.collins.dictionary .gramGrp {
    color:#505050;
    font-style:italic;
    font-size:110%;
    font-family:"Times New Roman",Times,serif
}
.collins.dictionary .sense_list li.level_1 {
    margin-bottom:7px
}
.collins.dictionary .sense_sublist {
    margin-left:25px
}
.collins.dictionary .sense_sublist li {
    list-style-type:lower-alpha
}
.collins.dictionary em.italics,.collins.dictionary em.hi {
    font-style:italic
}
.collins.dictionary .lbl,.collins.dictionary .xr_lbl,.collins.dictionary .subj,.collins.dictionary .sense,.collins.dictionary .mod,.collins.dictionary .geo,.collins.dictionary .misc,.collins.dictionary .register,.collins.dictionary .gram,.collins.dictionary .subc {
    font-family:"Times New Roman",Times,serif;
    font-size:14px;
    font-style:italic;
    font-weight:normal;
    color:#505050
}
.collins.dictionary .syntax {
    font-style:normal;
}
.collins.dictionary .etym em.hi {
    font-style:italic
}
.collins.dictionary #synonyms_content {
    clear:both
}
.collins.dictionary #synonyms_content .thesaurus_synonyms {
    margin:0 0 8px
}
.collins.dictionary #synonyms_content span.first {
    font-weight:bold
}
.collins.dictionary #quotation_box ul {
    list-style-position:outside;
    margin-left:15px
}
.collins.dictionary #quotation_box q {
    color:#505050;
    font-style:normal
}
.collins.dictionary #quotation_box cite.bibl {
    display:inline;
    font-style:normal
}
.collins.dictionary #examples_box div {
    margin-bottom:10px
}
.collins.dictionary #examples_box div blockquote {
    color:inherit;
    font-style:normal;
    color:#194480
}
.collins.dictionary #examples_box div cite {
    font-style:normal
}
.collins.dictionary #examples_box div .author {
    font-weight:bold
}
.collins.dictionary #examples_box div .title {
    text-transform:uppercase
}
.collins.dictionary .sound {
    display:inline;
    margin:0 5px
}
.collins.dictionary .spread_the_word {
    height:111px
}
.collins.dictionary ul.translation_list {
    padding:15px 0;
    border-top:1px solid #c5c5c5
}
.collins.dictionary ul.translation_list:first-child {
    padding:0 0 15px;
    border:0
}
.collins.dictionary .user_comments,.collins.dictionary .have_your_say {
    padding:0 0 20px 15px
}
.collins.dictionary .user_comments h2,.collins.dictionary .have_your_say h2 {
    color:#194480
}
.collins.dictionary .semantic {
    color:black;
    line-height:1.4em;
    font-style:normal;
    background-color:#e9eef4;
    margin:6px 0;
    padding:6px 4px 6px 18px;
    font:13px sans-serif;
    font-weight:normal;
    display:block
}
.collins.dictionary .sense_list .lbl {
    color:#7a5352
}
.collins .definition_content h2,.collins .definition_content h3,.collins .definition_content h4 {
    font-family:"Times New Roman",Times,serif
}
.collins h2 .pos {
    color:black
}
.collins .var {
    font-weight:bold;
    color:#194885
}
.collins.dictionary .inflected_forms span.infl {
    color:#505050;
    font-weight:bold
}
.collins.dictionary .re.hom-subsec span.infl {
    color:#505050;
    font-weight:bold
}
.collins .drv {
    font-weight:bold;
    color:#505050;
    font-size:116%
}
.collins .hom-subsec {
    border-top:1px dotted #c5c5c5;
    padding:11px 0 20px 15px;
    position:relative
}
.collins .hom-subsec.definitions,.collins .hom-subsec.similar-words,.collins .hom-subsec.translations {
    border:medium none
}
.collins .hom-subsec h3 {
    background-position:0 -993px;
    margin-left:-15px;
    padding-top:0
}
.collins .hom-subsec h4 {
    padding-left:0
}
.collins .hom-subsec h5.scbold {
    margin-top:0.5em
}
.collins .hom-subsec ol {
    list-style-position:outside;
    margin:0 0 0 26px
}
.collins .hom-subsec ul {
    list-style:none;
    margin:0 0 0 16px
}
.collins .hom-subsec .link-right {
    margin:11px 0 0;
    position:absolute;
    right:0;
    top:4px
}
.collins .hom-subsec .hom-subcontent {
    padding-left:0
}
.collins .term-subsec {
    padding:0 0 20px 15px
}
.collins .term-subsec h2 {
    background:url("/img/collins-icons-left.png") no-repeat scroll 0 -985px transparent;
    border:1px dotted #c5c5c5;
    border-width:1px 0;
    font-size:153.9%;
    margin:0 0 20px -15px;
    padding:8px 0 6px 15px
}
.collins .translations .phr,.collins .translations .minimalunit,.collins .translations .lexstring {
    color:#505050;
    font-weight:bold
}
.collins .translations q {
    color:#505050;
    font-style:normal
}
.collins .translations .cit-type-translation .quote q {
    color:#1C4B8B;
    font-weight:normal
}
.collins .translations .cit-type-translation .quote em.hi {
    color:#505050;
    font-family:"Times New Roman",Times,serif;
    font-size:110%;
    font-style:italic;
    font-weight:normal
}
.collins .translations .cit-type-example {
    color:#505050
}
.collins .translations .cit-type-example .quote {
    font-weight:bold
}
.collins .translations .cit-type-example .cit-type-translation q {
    color:#1C4B8B;
    font-weight:normal
}
.collins .translations .cit q .lbl {
    color:#505050;
    font-weight:normal
}
.collins .translations .gramGrp .colloc {
    color:#505050;
    font-family:"Times New Roman",Times,serif;
    font-size:14px;
    font-style:italic;
    font-weight:normal
}
.collins .translations .phr .orth {
    color:#505050;
    font-weight:bold
}
.collins .translations .orth q {
    font-weight:bold
}
.collins.dictionary .inflected_forms {
    padding-left:20px;
    margin-bottom:20px;
    font-size:126%
}
.collins.dictionary .hom .inflected_forms {
    margin-bottom:20px;
    padding-left:0;
    font-size:116%
}
.collins.dictionary .hom .inflected_forms .var {
    font-size:14px;
    font-weight:normal;
    font-family:"Times New Roman",Times,serif
}
.collins.dictionary .hom .inflected_forms .infl {
    font-size:13px;
    color:#194885
}
.collins .definition_wrapper .definition_main .definition_sidebar {
    border-top:1px dotted #c5c5c5
}
.collins .definition_wrapper .definition_sub_header {
    overflow:hidden;
    clear:both
}
.collins .definition_wrapper .definition_sub_header .commonness * {
    float:left
}
.collins .definition_wrapper .definition_sub_header .commonness h2 {
    font-family:Arial,Helvetica,sans-serif;
    color:#505050;
    margin:0;
    margin-right:8px;
    padding:0;
    font-size:1em;
    background:#fff;
    line-height:1.5
}
.collins .definition_wrapper .definition_sub_header .commonness div {
    position:relative;
    top:-12px
}
.collins.dictionary .dropdown-label {
    float:left;
    margin-top:8px;
    margin-left:12px
}
.collins.dictionary .expandable-list-container {
    float:right;
    height:27px;
    margin-top:2px;
    margin-bottom:10px;
    padding-right:26px;
    position:absolute;
    right:10px
}
.collins.dictionary .expandable-list-control {
    background:url("/img/collins-icons-right.png") no-repeat scroll 100% -1198px transparent;
    border:medium none;
    cursor:pointer;
    height:27px;
    position:absolute;
    right:2px;
    top:0;
    width:26px;
    z-index:2
}
.collins.dictionary .expandable-list {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #CCCCCC;
    margin:0 0 10px;
    padding:0;
    position:absolute;
    width:150px;
    z-index:99999
}
.collins.dictionary .expandable-list li {
    border-top:1px solid #E5E5E5;
    color:#666666;
    display:block;
    list-style:none outside none;
    margin:0;
    padding:5px 7px;
    background:white
}
.collins.dictionary .expandable-list li a {
    color:#666666;
    display:block;
    text-decoration:none
}
.collins.dictionary .expandable-list li a:hover {
    background-color:transparent;
    color:#194885
}
.collins.dictionary .expandable-list li.first {
    border-top:medium none
}
.collins .audio-link {
       margin: 2px;
       width:25px;
       height:25px;
       vertical-align: middle;
       display: inline-block;
       background: url('/img/speaker.png') no-repeat center;
       background-size:25px 25px;
       cursor: pointer;
}

.collins.dictionary span.dic-name {
    color: #595959;
    float:right;
    font: 13px/16px Arial,Verdana,Geneva,sans-serif;
    font-weight: bold;
    margin: 8px;
}
