.l-article a,.l-article div,.l-article span,.l-article p,.l-article em,.l-article img,.l-article strong,.l-article sub,.l-article sup,.l-article b,.l-article u,.l-article i,.l-article dl,.l-article dt,.l-article dd,.l-article ol,.l-article ul,.l-article li,.l-article fieldset,.l-article form,.l-article label,.l-article table,.l-article tbody,.l-article tfoot,.l-article thead,.l-article tr,.l-article th,.l-article td{
	margin:0;
	padding:0;
	border:0;
	outline:none;
	vertical-align:baseline;
	background:transparent;
	font-size:100%;
	font:13px/16px Arial,Verdana,Geneva,sans-serif;
}

.l-article table{
	border-collapse:collapse;
	border-spacing:0;
}

.l-article td,.l-article td img{
	vertical-align:top;
}

.l-article input,.l-article textarea{
	padding:0;
}

.l-article input[type="radio"]{
	vertical-align:text-bottom;
}

.l-article sub{
	vertical-align:sub;
	font-size:smaller;
}

.l-article sup{
	vertical-align:super;
	font-size:smaller;
}

.l-article li{
	list-style:none;
}

.l-article img{
	vertical-align:middle;
}

.l-articles{
	padding:0 0 10px 0;
}

.l-article{
	position:relative;
	padding:0 0 10px 0;
	border-bottom:1px dotted #d4d4d4;
	line-height:1;
	color:#000;
	text-align:left;
	font:13px/16px Arial,Verdana,Geneva,sans-serif;
	*zoom:1;
}

.l-article.last{
	border-bottom:none;
	padding-bottom:0;
}

.l-article.brdrnone{
	border-bottom:none;
}

.l-article h1, .l-article h2, .l-article h3, .l-article h4, .l-article h5, .l-article h6{
    margin:0;
	padding:0;
	border:0;
}

.l-article .l-article__transcription_text{
	display:inline-block;
        margin:5px 0 2px 0;
}

.l-article .l-article__transcription_slash{
        margin:0 5px 0 5px;
        font-size: larger;
        vertical-align: middle;
}

/* !!! '+' selector uses due to commas after right bracket !!! */
.l-article .l-article__transcription_rbracket+span, .l-article .l-article__transcription_rbracket+div, .l-article .l-article__transcription_rbracket+b, .l-article .l-article__transcription_rbracket+i{
        margin-left: 5px;
}

.l-article .Bold{
	font-weight:bold;
}

.l-article .Accent{
	color:#F00;
}

.g-card .optional{
	color:#7C7C7C;
}

.g-card .Bold{
	color:#231f20;
	font-weight:bold;
}

.g-card .Accent{
	color:#F00;
}

.g-card .Italic{
	font-style:italic;
}

.g-card .Superscript{
	font-size:.75em;
	vertical-align:super;
}

.g-card .Subscript{
	font-size:.75em;
	vertical-align:sub;
}

.l-article .l-corpr__termbox.last{
	margin-bottom:0;
}

.l-article .l-article__linkdict{
	color:#595959;
	font-weight:bold;
	margin:8px;
	text-decoration:none;
}

.l-article .l-article__linkdict:hover,.l-article .l-article__linkdict:focus,.l-article .l-article__linkdict:visited{
	color:#595959;
        text-decoration:none;
}

.l-article .P1{
	padding-left:10px;
	margin:.1em 0;
}

.l-article .P2{
	padding-left:20px;
	margin:.1em 0;
}

.l-article .P3{
	padding-left:30px;
	margin:.1em 0;
}

.l-article .P4{
	padding-left:30px;
	margin:.1em 0;
}

.l-article .l-article__toggle__icon{
	height:11px;
	width:11px;
	vertical-align:-1px;
}

.l-article .l-article__expandcollapse-link:hover,.l-article .l-article__expandcollapse-link:focus,.l-article .l-article__expandcollapse-link:visited{
	text-decoration:none;
}

.l-article .l-article__sound{
	display:inline-block;
	margin-right:6px;
}

.l-article .l-article__navpanel{
	position:absolute;
	top:6px;
	right:4px;
}

.l-article .l-article__abbrev{
	color:#2d8d17;
	font-style:italic;
}

.l-article .l-article__showExamp,.l-article .l-article__showExamp:visited,.l-article .l-article__showExamp:hover{
	color:#000;
	text-decoration:none;
}

.l-article .l-article__commentlink,.l-article .l-article__commentlink:visited,.l-article .l-article__commentlink:hover{
}

.l-article .audio-link{
       margin: 2px;
       width:25px;
       height:25px;
       vertical-align: middle;
       display: inline-block;
       background: url('/img/speaker.png') no-repeat center;
       background-size:25px 25px;
       cursor: pointer;
}

.l-article .g-icons {
    background: url('/img/icons.png') no-repeat scroll 0% 0% transparent;
}

.l-article .g-iblock {
    display: inline-block;
}

.l-article .l-article__toggle__icon{
    height: 11px;
    width: 11px;
    vertical-align: -1px;
    background-position: -37px -171px;
}

.l-article .l-article__toggle__icon.expanded{
    height: 11px;
    width: 11px;
    vertical-align: -1px;
    background-position: -26px -171px;
}
