
.signxx_wrapper {
	float: left;
	width: 245px;
	padding: 5px;
}
.signxx_label {
	display: block;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	color: rgb(250, 250, 250);
	background-color: rgb(65, 105, 150);
	border: none;
}
.signxx_label .sgnup {
	display: none;
}
.signinbar, .signupbar, .passresetbar {
	padding: 15px;
	margin-top: 15px;
	font-size: 14px;
	text-align: right;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(200,200,200);
}
.signinbar, .passresetbar {
	display: block;
	
}
.signupbar {
	display: none;
	padding-bottom: 45px;
}
.passresetbar {
	font-weight: normal;
	text-align: center;
}
.signxx_wrapper .input-label
{
	display: block;
	margin: 0 0 5px 0;
	color: rgb(65, 105, 150);
	font-size: 14px;
}
.signxx_wrapper .text-input {
	display: block;
	width: 200px;
	margin-bottom: 10px;
}
.signinbar .btn {
	color: rgb(250, 250, 250);
	background-color: rgb(240,120,80);
	border: none;
}
.signupbar .btn {
	color: rgb(250, 250, 250);
	background-color: rgb(65, 105, 150);
	border: none;
}
.passresetbar .btn {
	width: 212px;
	color: rgb(65, 105, 150);
	font-weight: normal;
	background-color: rgb(235, 235, 235);
	border: 1px solid rgb(200,200,200);
}
.signxx_wrapper .hspot {
	display: none;
}
.signxx_chkbox:checked + .bug_wrapper .passresetbar,
.signxx_chkbox:checked + .bug_wrapper .signinbar,
.signxx_chkbox:checked + .bug_wrapper .signxx_label .sgnin {
	display: none;
}
.signxx_chkbox:checked + .bug_wrapper .signupbar,
.signxx_chkbox:checked + .bug_wrapper .signxx_label .sgnup {
	display: block;
}
.signxx_chkbox:checked + .bug_wrapper .signxx_label {
	font-weight: bold;
	text-align: left;
	color: rgb(240,120,80);
	background-color: rgb(255, 255, 255);
	border: none;
}
.signxx_chkbox {
	display: none;
}
.fogot-pswrd-block {
	margin-bottom: 5px;
}
.form-message {
	margin: 10px 0 10px 0;
	text-align: left;
	visibility: hidden;
}