/* BEGIN of "tab container" */
.main.menu_container {
	width: inherit;
}
.main.menu_head {
}
.main.menu {
	position: relative;
	display: block;
	padding: 5px;
}
.main.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.main.menu ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.main.menu_label {
	display: block;
	text-decoration: none;
	text-align: center; 
	height: 18px;
	min-width: 60px;
	padding: 10px 0 10px 0;
	font-size: 14px;
}
.main.menu_label:focus, .menu_label:active {
	outline: none;
}
.main.active_label {
	border-bottom: 3px solid rgb(255,140,0);
}
.main.menu_body {
	padding: 10px;
	border: 1px solid rgb(200,200,200);
}
.main.hidden_content {
	display: none;
}
/* END of "tab container" */
